* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
    text-transform: uppercase;
}

.container {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
    padding: 10px;
}

.container-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.task {
    flex: 1;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px 15px;
    text-align: right;
}

.btn-add-task {
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: rgb(50, 204, 50);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.btn-add-task:hover {
    background-color: rgb(70, 223, 70);
}

.li-task {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-del {
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: .6rem;
    border: none;
    background-color: rgb(212, 27, 27);
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.btn-del:hover {
    background-color: rgb(145, 21, 21);
}

.btn-del:focus, .task:focus, .btn-add-task:focus{
    border: 1px solid rgb(173, 147, 147);
}